<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>808388740832-gklnlk3qhl9aaor9h5i03m62s2o3p4e1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.808388740832-gklnlk3qhl9aaor9h5i03m62s2o3p4e1</string>
	<key>API_KEY</key>
	<string>AIzaSyDjkRfnPBCs8dAhUowBJX5hS67nwhCq5kI</string>
	<key>GCM_SENDER_ID</key>
	<string>808388740832</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.instagramClone</string>
	<key>PROJECT_ID</key>
	<string>instagram-clone-d57d2</string>
	<key>STORAGE_BUCKET</key>
	<string>instagram-clone-d57d2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:808388740832:ios:5af3f5d06ed6441b69f285</string>
</dict>
</plist>